:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  min-width: 320px;
  background: #f4f6fa;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  color: #ffffff;
  background: #246bfd;
}

